{% extends 'base.html' %}
{% block content %}

<h3 class="mb-4">All Donors</h3>

<table class="table table-bordered table-hover">
    <thead class="table-danger">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Blood Group</th>
            <th>Place</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        {% for d in data %}
        <tr>
            <td>{{ d.donorid }}</td>
            <td>{{ d.name }}</td>
            <td>{{ d.bloodgroup }}</td>
            <td>{{ d.place }}</td>
            <td>{{ d.phno }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
