{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Donor Login</h2>

    {% for m in messages %}
        <div class="error">{{ m }}</div>
    {% endfor %}

    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            <label>Donor ID</label>
            <input type="text" name="donorid">
        </div>
        <div class="form-row">
            <label>Password</label>
            <input type="password" name="password">
        </div>
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}
